.button {
  box-sizing: border-box;
  display: block;
  width: 240px;
  padding: 16px 20px 12px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  color: #baa480;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 1px solid #baa480;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    background-color: #baa480;
  }

  &:active {
    opacity: 0.7;
  }

  &--promo {
    text-transform: lowercase;
    letter-spacing: 1px;
  }

  &--source {
    width: 273px;
    color: #817155;
    border-color: #9b8869;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #9b8869;
    }
  }

  &--info {
    color: #baa480;
    border-color: #baa480;
  }

  &--buy {
    width: 273px;
    padding-top: 18px;
    color: #e9e1d5;
    background-color: #ba4f4f;
    border: none;

    &:hover,
    &:focus {
      color: #e9e1d5;
      background-color: #ba4f4f;
      opacity: 0.7;
    }

    &:active {
      color: #e9e1d5;
      background-color: #ba4f4f;
      opacity: 0.5;
    }
  }
}

.button__icon {
  display: inline-block;
  width: 21px;
  height: 19px;
  margin-top: 2px;
  margin-right: 10px;
  fill: #e9e1d5;
}

@media (max-width: 1023px) {
  .button {
    width: 196px;
    padding: 16px 10px 12px;
    font-size: 24px;
    line-height: 30px;

    &--promo {
      width: 240px;
      background-color: rgba(26, 25, 24, 0.8);
    }

    &--source {
      padding: 12px 10px 8px;
      font-size: 22px;
    }

    &--info {
      padding: 12px 10px 6px;
      font-size: 22px;
    }

    &--buy {
      padding: 13px 10px 9px;
    }
  }
}
