.button-reset {
  box-sizing: border-box;
  display: block;
  padding: 0;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #ba4f4f;
  background-color: transparent;
  border: none;
}
