.catalog-product {
  margin-bottom: 95px;
}

.catalog-product__container {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 76px;
}

.catalog-product__description {
  max-width: 810px;
  margin: 0 auto 82px;
  text-align: center;
}

.catalog-product__title {
  margin: 0;
  margin-bottom: 12px;
}

.catalog-product__text {
  margin: 0;
  letter-spacing: 0.02em;
}

.catalog-product__slider {
  margin-bottom: 71px;
}
