.catalog-cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-cards__item {
  margin: 0 16px 40px 14px;
}

@media (max-width: 768px) {
  .catalog-cards__list {
    max-width: 660px;
    margin: 0 auto;
  }

  .catalog-cards__item {
    margin: 0 10px -7px;

    // &:nth-of-type(n + 6) {
    //   display: none;
    // }
  }
}
