.catalog {
  margin-bottom: 47px;
}

.catalog__container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 34px 0 45px;
}

.catalog__menu {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.catalog__header {
  margin-bottom: 44px;
}

.catalog__form {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 103px;
  width: 182px;
}

.catalog__cards {
  width: calc(100% - 230px);
  margin-left: auto;
}

@media (max-width: 1023px) {
  .catalog {
    margin-bottom: 58px;
  }

  .catalog__container {
    position: relative;
    width: 100%;
    padding: 0;
  }

  .catalog__menu {
    width: calc(100% - 15px);
    min-height: 985px;
    padding: 6px 8px 0 15px;
    background-color: #f0ede8;
    box-shadow: 4px 0 20px rgba(23, 23, 22, 0.1);
    z-index: 1;

    &--closed {
      width: 100%;
      min-height: auto;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }

    &--active-js {
      position: fixed;
      top: 57px;
      left: 0;
      bottom: 0;
      overflow-y: scroll;
      height: calc(100% - 57px);
      min-height: auto;
      -ms-overflow-style: none;
    }
  }

  .catalog__header {
    margin-bottom: 34px;

    &--closed {
      margin-bottom: 0;
    }
  }

  .catalog__form {
    position: static;
    padding-top: 29px;
    border-top: 1px solid #9b8869;

    &--closed {
      display: none;
    }
  }

  .catalog__cards {
    width: 100%;
    margin-left: 0;
  }
}
