.catalog-section__container {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 95px;

  &--extra {
    padding-bottom: 94px;
  }

  &--no-source {
    padding-bottom: 0;
  }
}

.catalog-section__description {
  box-sizing: border-box;
  max-width: 820px;
  margin: 0 auto 82px;
  text-align: center;

  &--extra {
    margin-bottom: 64px;
    padding: 0 20px;
  }

  &--no-paragraph {
    margin-bottom: 73px;
    padding-right: 0;
    padding-left: 20px;
  }
}

.catalog-section__title {
  margin: 0;
  margin-bottom: 12px;

  &--extra {
    margin-bottom: 13px;
  }
}

.catalog-section__text {
  margin: 0;
  letter-spacing: 0.02em;
}

.catalog-section__slider {
  margin-bottom: 71px;
}

@media (max-width: 768px) {
  .catalog-section__container {
    padding-top: 27px;
    padding-bottom: 28px;
  }

  .catalog-section__description {
    box-sizing: border-box;
    max-width: 450px;
    margin: 0 auto 36px;
    padding: 0 20px;

    &--extra {
      margin-bottom: 31px;
      padding: 0 15px;
    }
  }

  .catalog-section__title {
    box-sizing: border-box;
    margin-bottom: 11px;

    &--extra {
      margin-bottom: 13px;
    }
  }

  .catalog-section__text {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
  }

  .catalog-section__slider {
    margin-bottom: 22px;
  }
}
