.copyright__info {
  display: flex;
  justify-content: space-between;
  width: 284px;
  margin: 0;
  padding-top: 6px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #9b8869;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    margin-top: 4px;
    background-color: #9b8869;
    order: 1;
  }

  &--main {
    color: #baa480;

    &::before {
      background-color: #baa480;
    }
  }
}

.copyright__year {
  box-sizing: border-box;
  display: block;
  width: 44px;
  order: 0;
}

.copyright__privacy {
  display: block;
  width: 215px;
  letter-spacing: 0.3px;
  order: 2;
}

@media (max-width: 768px) {
  .copyright__info {
    flex-direction: column;
    width: 100%;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .copyright__year,
  .copyright__privacy {
    width: 100%;
    text-align: center;
    color: #baa480;
  }

  .copyright__year {
    order: 1;
  }

  .copyright__privacy {
    margin-bottom: 18px;
    order: 0;
  }
}
