.copyright__info {
  display: flex;
  justify-content: space-between;
  width: 284px;
  margin: 0;
  padding-top: 6px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    margin-top: 4px;
    background-color: #9b8869;
    order: 1;
  }

  &--main {
    color: #baa480;

    &::before {
      background-color: #baa480;
    }
  }
}

.copyright__year {
  box-sizing: border-box;
  display: block;
  width: 44px;
  order: 0;
}

.copyright__privacy {
  display: block;
  width: 215px;
  letter-spacing: 0.3px;
  order: 2;
}
