.grid-view {
  box-sizing: border-box;
  width: 48px;
  padding-top: 2px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.grid-view__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.grid-view__item {
  margin-left: 11px;
}

.grid-view__toggle {
  position: relative;
  display: block;
  width: 13px;
  height: 13px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--active {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

.grid-view__icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: #9b8869;

  &--active {
    fill: #ba4f4f;
  }
}

@media (max-width: 1023px) {
  .grid-view {
    padding-top: 0;
  }

  .grid-view__toggle {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
  }

  .grid-view__item {
    margin: 0;
  }

  .grid-view__icon {
    position: absolute;
    top: 7px;
    left: 6px;
    fill: #9b8869;

    &--gallery {
      left: 7px;
    }

    &--active {
      fill: #ba4f4f;
    }
  }
}
