.logo__link {
  display: block;
  width: 184px;
  height: 30px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  img {
    display: block;
    width: 184px;
    height: 30px;
  }
}

@media (max-width: 1023px) {
  .logo__link {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .logo__link {
    width: 130px;
    height: 22px;

    img {
      display: block;
      width: 130px;
      height: 22px;
    }
  }
}
