.main-nav {
  box-sizing: border-box;
  width: 800px;
  padding: 0 10px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin-right: 30px;

  &--main {
    margin-right: 25px;
  }
}

.main-nav__link {
  display: block;
  padding: 8px 0;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #9b8869;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--main {
    text-transform: uppercase;
  }

  &--active {
    color: #ba4f4f;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .main-nav {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
    padding: 0;

    &--closed {
      display: none;
    }
  }

  .main-nav__list {
    box-sizing: border-box;
    flex-direction: column;
    width: 304px;
    padding: 0 30px;
  }

  .main-nav__item {
    margin: 0;
  }

  .main-nav__link {
    display: block;
    padding: 10px 0;
    color: #9b8869;
    text-transform: uppercase;
  }
}
