.main-nav {
  // width: 767px;
  width: 59.411309%;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding-right: 24px;

  &--accessories {
    padding-right: 26px;
  }

  &--spares {
    padding-right: 26px;
  }

  &--workshop {
    padding-right: 25px;
  }

  &--delivery {
    padding-right: 22px;
  }
}

.main-nav__link {
  display: block;
  padding: 8px 0;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #9b8869;
  text-decoration: none;

  &--page-main {
    text-transform: uppercase;
    color: #817155;
  }
}

@media (max-width: 768px) {
  .main-nav {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;

    &--closed {
      display: none;
    }
  }

  .main-nav__list {
    box-sizing: border-box;
    flex-direction: column;
    width: 304px;
    padding: 0 30px;
  }

  .main-nav__item {
    padding: 0;
  }

  .main-nav__link {
    display: block;
    padding: 10px 0;
  }
}
