@media (max-width: 1024px) {
  .menu-button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    background-size: 18px 12px;
    background-position: 11px 14px;
    background-color: transparent;
    border: none;

    &--close {
      background-image: url("../img/icon-close.svg");
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: 13px 14px;
    }
  }
}
