.page-footer {
  max-width: 1366px;
  width: 100%;
  flex: 0 0 auto;
  margin: 0 auto;
}

.page-footer__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  background-color: brown;
}

.page-footer__container {
  box-sizing: border-box;
  max-width: 1150px;
  margin: 0 auto;

  &--main {
    max-width: 1160px;
    padding-left: 6px;
  }
}

.page-footer__bottom {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 33px 13px 48px 7px;

  &--main {
    padding: 33px 16px 48px 9px;
  }
}

.page-footer__social {
  margin-right: 173px;
  padding-top: 2px;
  padding-left: 2px;
  order: 0;
}

.page-footer__logo {
  order: 1;
}

.page-footer__copyright {
  order: 2;
}

@media (max-width: 1024px) {
  .page-footer__container {
    position: relative;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 15px;
      display: block;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #9b8869;
    }

    &--main {
      &::before {
        display: none;
      }
    }
  }

  .page-footer__top {
    display: none;
  }

  .page-footer__bottom {
    flex-direction: column;
    padding: 45px 20px;
  }

  .page-footer__logo {
    margin: 0 auto 16px;
    order: 0;
  }

  .page-footer__social {
    margin: 0 auto 16px;
    padding-right: 2px;
    padding-top: 0;
    padding-left: 2px;
  }

  .page-footer__copyright {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .page-footer__bottom {
    padding: 30px 20px 48px;
  }

  .page-footer__logo {
    margin: 0 auto 6px;
  }
}
