.page-footer {
  width: 100%;
  flex: 0 0 auto;
  margin: 0 auto;
}

.page-footer__wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #474438;
  background-image: url("../img/background-footer-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .page-footer__wrapper {
    background-image: url("../img/background-footer-desktop@2x.jpg");
  }
}

.page-footer__container {
  box-sizing: border-box;
  max-width: 1150px;
  margin: 0 auto;

  &--main {
    max-width: 1160px;
    padding-left: 6px;
  }
}

.page-footer__bottom {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 33px 10px 48px 7px;

  &--main {
    padding: 33px 12px 48px 9px;
  }
}

.page-footer__social {
  padding-top: 2px;
  padding-left: 2px;
  order: 0;
}

.page-footer__logo {
  order: 1;
}

.page-footer__copyright {
  order: 2;
}

@media (max-width: 1024px) {
  .page-footer__container {
    position: relative;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 15px;
      display: block;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #9b8869;
    }

    &--main {
      &::before {
        display: none;
      }
    }
  }

  .page-footer__top {
    display: none;
  }

  .page-footer__bottom {
    flex-direction: column;
    padding: 45px 20px;
  }

  .page-footer__logo {
    margin: 0;
    margin-bottom: 16px;
    order: 0;
  }

  .page-footer__social {
    margin: 0 0 16px;
    padding-right: 2px;
    padding-top: 0;
    padding-left: 2px;
  }

  .page-footer__copyright {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .page-footer__wrapper {
    background-image: url("../img/background-footer-mobile@1x.jpg");
    background-position: left -216px top 0;
    background-size: 1025px 100%;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .page-footer__wrapper {
      background-image: url("../img/background-footer-mobile@2x.jpg");
    }
  }

  .page-footer__bottom {
    padding: 30px 20px 31px 15px;
  }

  .page-footer__logo {
    margin: 0 auto 6px;
  }
}
