.pagination {
  box-sizing: border-box;
  display: flex;
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto 77px;

  &::before,
  &::after {
    content: "";
    display: block;
    flex-grow: 1;
    align-self: center;
    width: 1px;
    height: 1px;
    margin-bottom: 3px;
    background-color: #9b8869;
  }
}

.pagination__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 172px;
  padding: 0 12px 0 13px;
}

.pagination__button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 18px;
  height: 18px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 4px;
    display: block;
    width: 8px;
    height: 1px;
    background-color: #9b8869;
    cursor: pointer;
  }

  &::before {
    top: 6px;
    transform: rotate(-45deg);
  }

  &::after {
    top: 11px;
    transform: rotate(-135deg);
  }

  &--next {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--disabled {
    opacity: 0.6;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.6;
    }
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  width: 93px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  &--more {
    display: none;
  }
}

.pagination__link {
  display: block;
  padding: 2px 4px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #9b8869;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--dots {
    padding: 2px 4px 2px 5px;
    cursor: auto;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  &--active {
    color: #ba4f4f;

    &:hover,
    &:focus,
    &:active {
      color: #ba4f4f;
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .pagination {
    margin-bottom: 57px;
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  .pagination__container {
    width: 320px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .pagination__button {
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    margin-top: 1px;

    &::before,
    &::after {
      display: none;
    }

    &--prev {
      background-image: url("../img/icon-arrow-left--pagination-mobile.svg");
      background-repeat: no-repeat;
      background-position: 2px 2px;
    }

    &--next {
      background-image: url("../img/icon-arrow-right--pagination-mobile.svg");
      background-repeat: no-repeat;
      background-position: 9px 2px;
      transform: none;
    }
  }

  .pagination__list {
    width: 100%;
    padding: 0;
  }

  .pagination__item {
    padding: 0 6px 0 7px;

    &--more {
      display: block;
    }
  }

  .pagination__link {
    font-size: 22px;
    line-height: 22px;
  }
}
