.product-card {
  box-sizing: border-box;
  width: 300px;

  &--extra {
    width: 283px;
  }
}

.product-card__top {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 265px;
  margin-bottom: 17px;
  padding-top: 4px;
  order: 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: calc(50% - 89px);
    box-sizing: border-box;
    width: 178px;
    // height: 240px;
    height: calc(100% - 25px);
    z-index: -1;
    border: 6px solid #f0ede8;
  }
}

.product-card__picture {
  img {
    display: block;
  }

  &--product-1 img {
    margin-top: 59px;
    margin-left: 21px;
  }

  &--product-2 img {
    margin-top: 46px;
    margin-left: 25px;
  }

  &--product-3 img {
    margin-top: 14px;
    margin-left: 20px;
  }

  &--product-4 img {
    margin-top: 38px;
    margin-left: 18px;
  }

  &--product-5 img {
    margin-top: 26px;
    margin-left: 17px;
  }

  &--product-6 img {
    margin-top: 39px;
    margin-left: 11px;
  }

  &--product-7 img {
    margin-top: 32px;
    margin-left: 15px;
  }

  &--product-8 img {
    margin-top: 24px;
    margin-left: 12px;
  }

  &--product-9 img {
    margin-top: 16px;
    margin-left: 17px;
  }

  &--product-10 img {
    margin-top: 0;
    margin-left: 13px;
  }

  &--product-11 img {
    margin-top: 18px;
    margin-left: 16px;
  }

  &--product-12 img {
    margin-top: 19px;
    margin-left: 12px;
  }

  &--extra-1 img {
    margin-top: 71px;
    margin-left: 60px;
  }

  &--extra-2 img {
    margin-top: 57px;
    margin-left: 65px;
  }

  &--extra-3 img {
    margin-top: 74px;
    margin-left: 62px;
  }

  &--extra-4 img {
    margin-top: 42px;
    margin-left: 70px;
  }
}

.product-card__description {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  order: 2;
}

.product-card__name {
  box-sizing: border-box;
  margin: 0 auto 2px;
  padding: 0 30px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;

  &--long {
    padding: 0 20px;
  }
}

.product-card__info {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  order: 2;
}

.product-card__price {
  margin-top: 13px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #ba4f4f;
  order: 3;

  &--extra {
    margin-top: 9px;
  }
}

.product-card__buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 178px;
  margin: auto auto 0;
  padding: 0 9px;
  order: 1;
}

.product-card__button-buy {
  margin-left: calc(50% - 25px);
  margin-top: 12px;
}

.product-card__button-extra {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .product-card__top {
    // min-height: 240px;
    min-height: 233px;
    // margin-bottom: 9px;
    margin-bottom: 16px;
    padding-top: 0;

    &::before {
      content: "";
      position: absolute;
      // bottom: 33px;
      bottom: 26px;
      left: calc(50% - 89px);
      box-sizing: border-box;
      width: 178px;
      // height: 178px;
      height: 76.39485%;
      z-index: -1;
      border: 6px solid #f0ede8;
    }
  }

  .product-card__name,
  .product-card__price {
    font-size: 22px;
    padding: 0 37px;
  }

  .product-card__name {
    &--long {
      padding: 0 20px;
    }
  }

  .product-card__price {
    margin-top: 8px;
  }

  .product-card__buttons {
    margin-top: auto;
  }

  .product-card__button-buy {
    margin-top: 0;
  }

  .product-card__button-extra {
    display: none;
  }
}
