.product-card {
  box-sizing: border-box;
  width: 300px;

  &--extra {
    width: 283px;
  }
}

.product-card__top {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 265px;
  margin-bottom: 17px;
  padding-top: 4px;
  order: 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 25px;
    left: calc(50% - 89px);
    box-sizing: border-box;
    width: 178px;
    height: calc(100% - 25px);
    z-index: -1;
    border: 6px solid #f0ede8;
  }
}

.product-card__picture {
  display: block;
  min-height: 200px;

  img {
    display: block;
  }

  &--inactive {
    transform: scale(1.04) translate(-5px, 1px);
  }
}

.product-card__description {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  order: 2;
}

.product-card__link {
  display: block;
  text-decoration: none;
}

.product-card__name {
  box-sizing: border-box;
  margin: 0 auto 3px;
  padding: 0 30px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #817155;
  text-transform: uppercase;
  order: 1;

  &--long {
    padding: 0 20px;
  }

  &--extra {
    margin-bottom: 2px;
  }
}

.product-card__info {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  order: 2;
}

.product-card__price {
  margin-top: 12px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #ba4f4f;
  order: 3;

  &--extra {
    margin-top: 9px;
  }
}

.product-card__buttons {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 178px;
  margin: -1px auto 0;
  padding: 0 9px;
  order: 1;
}

.product-card__button-buy {
  margin-left: calc(50% - 25px);
  margin-top: 12px;
}

.product-card__button-extra {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .product-card__top {
    min-height: 233px;
    margin-bottom: 16px;
    padding-top: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 26px;
      left: calc(50% - 89px);
      box-sizing: border-box;
      width: 178px;
      height: 76.39485%;
      z-index: -1;
      border: 6px solid #f0ede8;
    }

    &--extra {
      min-height: 235px;
      margin-bottom: 10px;

      &::before {
        bottom: 32px;
        height: 75.744681%;
      }
    }
  }

  .product-card__picture {
    &--extra img {
      margin-top: 4px;
    }
  }

  .product-card__name,
  .product-card__price {
    font-size: 22px;
    padding: 0 37px;
  }

  .product-card__name {
    margin-bottom: 2px;

    &--long {
      padding: 0 20px;
    }
  }

  .product-card__price {
    margin-top: 8px;
  }

  .product-card__buttons {
    margin-top: -17px;

    &--extra {
      margin-top: -25px;
    }
  }

  .product-card__button-buy {
    margin-top: 0;
  }

  .product-card__button-extra {
    display: none;
  }
}
