.product-details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1090px;
  min-height: 389px;
  margin: 0 auto;
  padding: 0 20px 0 10px;
}

.product-details__toggle {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 25%;
  padding: 16px 20px 12px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(155, 136, 105, 0.3);
  border-right: none;
  border-bottom: none;
  background-color: transparent;
  color: rgba(129, 113, 85, 0.3);
  order: 0;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: #817155;
    outline: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
  }

  &::after {
    bottom: -1px;
    left: 0;
    width: calc(100% + 1px);
    height: 1px;
    background-color: #9b8869;
  }

  &::before {
    top: 0;
    right: -1px;
    width: 1px;
    height: calc(100% + 1px);
    background-color: rgba(155, 136, 105, 0.3);
  }

  &--last {
    width: calc(25% - 1px);

    &::before {
      top: -1px;
    }
  }

  &--active {
    color: rgb(129, 113, 85);
    border: 1px solid rgb(155, 136, 105);
    border-right: none;
    border-bottom: none;
    box-shadow: 1px 0 0 rgb(155, 136, 105);

    &::after {
      left: -1px;
      top: 0;
      width: 1px;
      height: calc(100% + 1px);
    }

    &::before {
      right: -1px;
      width: 1px;
      background-color: rgb(155, 136, 105);
    }
  }
}

.product-details__section {
  box-sizing: border-box;
  display: none;
  width: 100%;
  min-height: 330px;
  border: 1px solid #9b8869;
  border-top: none;
  order: 1;

  &--active {
    display: block;
  }

  &--reviews {
    padding: 51px 49px 61px;
  }
}

@media (max-width: 1024px) {
  .product-details {
    min-height: auto;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
  }

  .product-details__toggle {
    flex-direction: column;
    width: 100%;
    padding: 17px 50px 11px 16px;
    text-align: left;
    border-top: 1px solid rgba(155, 136, 105, 0.5);
    border-left: none;
    border-right: none;
    border-bottom: none;

    &::before {
      top: 19px;
      right: 14px;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../img/icon-arrow-down.svg");
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: 1px 6px;
      background-color: transparent;
      opacity: 0.5;
    }

    &::after {
      display: none;
    }

    &--last {
      border-bottom: 1px solid rgba(155, 136, 105, 0.5);
    }

    &--active {
      border-top: 1px solid rgb(155, 136, 105);
      box-shadow: none;

      &::before {
        opacity: 1;
        transform: rotate(180deg);
      }
    }
  }

  .product-details__section {
    min-height: auto;
    order: 0;
    border: none;

    &--reviews {
      padding: 21px 15px 30px 15px;
    }
  }
}
