.product-card {
  position: relative;
  width: 300px;

  &--extra {
    width: 273px;
  }
}

.product-card__description {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 220px;
  margin: -25px auto 0;
  text-align: center;
}

.product-card__name {
  margin: 0 auto 2px;
  padding: 0 30px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  order: 1;

  &--long {
    width: 170px;
  }
}

.product-card__info {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  order: 2;
}

.product-card__price {
  margin-top: 13px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #ba4f4f;
  order: 3;

  &--extra {
    margin-top: 9px;
  }
}

.product-card__buttons {
  position: relative;
  width: 50px;
  margin: 0 auto 17px;
  order: 0;
}

.product-card__button-extra {
  position: absolute;
  top: -12px;
  right: -55px;
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  .product-card__name,
  .product-card__price {
    font-size: 22px;
  }

  .product-card__price {
    margin-top: 8px;
  }
}
