.promo__container {
  box-sizing: border-box;
  width: 675px;
  margin-left: auto;
  padding: 146px 30px 31px 39px;
}

.promo__slogan-wrapper {
  margin-bottom: 53px;
}

.promo__slogan {
  width: 508px;
  height: 146px;
}

.promo__button {
  margin-left: 141px;
  margin-bottom: 194px;
}

.promo__social {
  width: 105px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .promo__container {
    width: 100%;
    padding: 26px 0 218px;
  }

  .promo__slogan-wrapper {
    width: 246px;
    margin: 0 auto 128px;
    padding-left: 6px;
  }

  .promo__slogan {
    width: 246px;
    height: 71px;
    margin: 0 auto;
  }

  .promo__button {
    margin: 0 auto;
  }

  .promo__social {
    display: none;
  }
}
