.review {
  margin: 0;

  &:nth-of-type(n + 2) {
    display: none;
  }
}

.review__top {
  display: flex;
  margin-bottom: 5px;
}

.review__author,
.review__date {
  font-family: "Roboto Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.2px;
  color: #9b8869;
}

.review__author {
  margin-right: 10px;
}

.review__date {
  margin: 0;
  display: inline;
}

.review__title {
  display: block;
  margin-bottom: 2px;
  padding-left: 2px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #817155;
}

.review__text {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 2px;
  color: #817155;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.3px;
}

.review__rating {
  display: flex;
  width: 95px;
  margin-bottom: 21px;
}

.review__rating-star {
  width: 17px;
  height: 16px;
  margin-right: 2px;
  background-image: url("../img/review-rating-star.svg");
  background-repeat: no-repeat;
}

.review__button-wrapper {
  box-sizing: border-box;
  width: 273px;
  margin-top: 35px;
  margin-left: 2px;
}

.review__button {
  width: 273px;
  color: #817155;
  border-color: #9b8869;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #817155;
  }
}

@media (max-width: 768px) {
  .review {
    margin-bottom: 22px;

    &:nth-of-type(n + 2) {
      display: block;
    }
  }

  .review__top,
  .review__rating {
    padding-left: 1px;
  }

  .review__title,
  .review__text {
    padding-left: 0;
    padding-right: 15px;
  }

  .review__title {
    margin-bottom: 1px;
    font-size: 22px;
    line-height: 30px;
  }

  .review__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .review__button-wrapper {
    width: 290px;
    margin: 31px auto 0;
    padding-left: 3px;
  }
}
