.section-background {
  background-image: url("../img/background-info-desktop@1x.jpg");
  background-color: #474438;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .section-background {
    background-image: url("../img/background-info-desktop@2x.jpg");
  }
}

@media (max-width: 767px) {
  .section-background {
    background-image: url("../img/background-info-mobile@1x.jpg");
    background-position: left -217px top 0;
    background-size: 1025px 100%;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .section-background {
      background-image: url("../img/background-info-mobile@2x.jpg");
    }
  }
}
