.slider-cards {
  max-width: 1650px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-cards__list {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 2970px;
  margin: 0;
  padding: 0;
  list-style: none;

  &--extra {
    width: 3396px;
  }
}

.slider-cards__item {
  box-sizing: border-box;
  width: 283px;
  margin: 0 22px 0 25px;
  flex-shrink: 0;

  &--extra {
    margin: 0;
  }
}

.slider-cards__toggle {
  display: none;
}

@media (max-width: 768px) {
  .slider-cards {
    width: 100%;
  }

  .slider-cards__item {
    margin: 0;
  }
}
