.slider-view {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 450px;
}

.slider-view__container {
  position: relative;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: calc(50% - 176.5px);
    width: 353px;
    height: calc(100% - 25px);
    border: 6px solid #f0ede8;
  }
}

.slider-view__top {
  position: relative;
  width: 100%;
  min-height: 425px;
}

.slider-view__picture {
  img {
    width: 500px;
    height: auto;
  }
}

.slider-view__slides {
  width: 500px;
  height: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-view__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 353px;
  margin: -73px auto 0;
  padding-left: 2px;
  order: 1;
  z-index: 2;
}

.slider-view__toggles {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.slider-view__toggle {
  margin-left: 1px;
}

.slider-view__input:checked ~ .slider-view__label {
  border: 2px solid #9b8869;
  box-shadow: inset 0 0 0 3px #e9e1d5;
}

.slider-view__label {
  box-sizing: border-box;
  display: block;
  width: 28px;
  height: 28px;
  background-color: yellow;
  border-radius: 50%;
  border: 4.5px solid #e9e1d5;

  &--color-black {
    background-color: #333232;
  }

  &--color-brown {
    background-color: #7e5b48;
  }

  &--color-beige {
    background-color: #d5b688;
  }
}

.slider-view__button-zoom {
  width: 50px;
  margin: 0 auto;
}

.slider-view__button-extra {
  position: absolute;
  top: 28px;
  right: 17px;
}

@media (max-width: 1024px) {
  .slider-view {
    width: 320px;
    min-height: 240px;
  }

  .slider-view__container {
    &::before {
      width: 240px;
      left: calc(50% - 120px);
    }
  }

  .slider-view__top {
    position: relative;
    width: 100%;
    min-height: 280px;
  }

  .slider-view__slides {
    width: 100%;
    height: 200px;
  }

  .slider-view__picture {
    width: 320px;
    height: auto;

    img {
      width: 320px;
      height: auto;
    }
  }

  .slider-view__bottom {
    width: 240px;
    margin-top: -65px;
  }

  .slider-view__toggles {
    margin-bottom: 12px;
  }

  .slider-view__button-extra {
    top: -98px;
    left: auto;
    right: 18px;
  }
}
