.slider-cards {
  position: relative;
  max-width: 1650px;
  min-height: 423px;
  overflow: hidden;
  margin: 0 auto;

  &--extra {
    min-height: 419px;
  }
}

.slider-cards__list {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: calc(50% - 682px);
  display: flex;
  width: 2880px;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-802px);

  &--extra {
    width: 3396px;
    transform: translateX(-1018px);
  }
}

.slider-cards__item {
  box-sizing: border-box;
  margin: 0 15px;
  padding: 0;
  flex-shrink: 0;

  &--extra {
    margin: 0;
  }

  &--disabled {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(233, 225, 213, 0.7);
      z-index: 5;
    }
  }
}

.slider-cards__toggles {
  position: relative;
  margin: 0 auto;
  max-width: 1366px;
}

.slider-cards__toggle {
  position: absolute;
  z-index: 3;
  top: 95px;

  &--prev {
    left: 45px;
  }

  &--next {
    right: 45px;
  }
}

@media (max-width: 1023px) {
  .slider-cards__list {
    transform: translateX(-472px);

    &--extra {
      transform: translateX(-735px);
    }
  }

  .slider-cards__toggle {
    top: 251px;

    &--prev {
      left: calc(50% - 160px);
    }

    &--next {
      right: calc(50% - 160px);
    }

    &--prev-extra {
      left: calc(50% - 300px);
    }

    &--next-extra {
      right: calc(50% - 300px);
    }
  }
}

@media (max-width: 767px) {
  .slider-cards {
    width: 100%;
    min-height: 385px;

    &--extra {
      min-height: 387px;
    }
  }

  .slider-cards__list {
    left: calc(50% - 248px);
    transform: translateX(-802px);

    &--extra {
      left: calc(50% - 255px);
      transform: translateX(-1018px);
    }
  }

  .slider-cards__item {
    margin: 0;
  }

  .slider-cards__toggle {
    &--prev-extra,
    &--next-extra {
      top: 247px;
    }

    &--prev-extra {
      left: calc(50% - 160px);
    }

    &--next-extra {
      right: calc(50% - 160px);
    }
  }
}
