.slider-cards {
  position: relative;
  max-width: 1366px;
  min-height: 423px;
  overflow: hidden;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: calc(50% - 512px);
    height: 100%;
    background-color: rgba(233, 225, 213, 0.95);
    z-index: 2;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--extra {
    min-height: 419px;
  }
}

.slider-cards__list {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: calc(50% - 682px);
  display: flex;
  width: 2880px;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateX(-802px);

  &--extra {
    width: 3396px;
    transform: translateX(-1018px);
  }
}

.slider-cards__item {
  box-sizing: border-box;
  margin: 0 15px;
  padding: 0;
  flex-shrink: 0;

  &--extra {
    margin: 0;
  }
}

.slider-cards__toggle {
  position: absolute;
  z-index: 3;
  top: 95px;

  &--prev {
    left: 45px;
  }

  &--next {
    right: 45px;
  }
}

@media (max-width: 1024px) {
  .slider-cards {
    &::before,
    &::after {
      width: calc(50% - 150px);
    }

    &--extra {
      &::before,
      &::after {
        width: calc(50% - 285px);
      }
    }
  }

  .slider-cards__toggle {
    top: 251px;

    &--prev {
      left: calc(50% - 160px);
    }

    &--next {
      right: calc(50% - 160px);
    }

    &--prev-extra {
      left: calc(50% - 300px);
    }

    &--next-extra {
      right: calc(50% - 300px);
    }
  }
}

@media (max-width: 768px) {
  .slider-cards {
    width: 100%;
    min-height: 385px;

    &::before,
    &::after {
      width: calc(50% - 150px);
    }
  }

  .slider-cards__list {
    left: calc(50% - 248px);

    &--extra {
      left: calc(50% - 255px);
    }
  }

  .slider-cards__item {
    margin: 0;
  }

  .slider-cards__toggle {
    &--prev-extra {
      left: calc(50% - 160px);
    }

    &--next-extra {
      right: calc(50% - 160px);
    }
  }
}
