.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 105px;
  list-style: none;
}

.social__link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--promo {
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.social__icon {
  position: absolute;
  fill: #9b8869;

  &--vk {
    top: 6px;
    left: 2px;
  }

  &--fb {
    top: 4px;
    left: 9px;
  }

  &--inst {
    top: 4px;
    left: 4px;
  }

  &--promo {
    fill: #baa480;
  }

  &--main {
    fill: #baa480;
  }
}

@media (max-width: 768px) {
  .social__icon {
    fill: #baa480;
  }
}
