.sort {
  box-sizing: border-box;
  display: block;
  width: 154px;
  padding-top: 2px;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #9b8869;
  background-color: transparent;
  background-image: url("../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top 6px right;
  border-radius: 0;
  border: none;
  appearance: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
