.title {
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  line-height: 56px;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .title {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 30px;
  }
}
