.toggle-filter__label {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px 15px 5px 0;
  font-family: "Hagin Caps Medium", "Times New Roman", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #9b8869;
  background-color: transparent;
  text-align: left;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: 0;
    display: block;
    width: 14px;
    height: 1px;
    background-color: #9b8869;
    border-radius: 0.5px;
  }

  &::after {
    // display: none;
    transform: rotate(90deg);
  }

  // &--closed {
  //   &::after {
  //     display: block;
  //   }
  // }
}

.toggle-filter__input:checked + .toggle-filter__label {
  &::after {
    display: none;
  }
}
