.user-account {
  width: 36px;
  margin-right: 10px;
}

.user-account__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-account__item {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .user-account {
    display: block;
    width: 100%;
    margin-right: 0;

    &--closed {
      display: none;
    }
  }

  .user-account__list {
    box-sizing: border-box;
    justify-content: space-between;
    width: 225px;
    margin-left: auto;
    padding-right: 3px;
  }

  .user-account__item {
    margin-right: 0;
  }
}
