.user-nav {
  box-sizing: border-box;
  position: relative;
  width: 92px;
  padding: 0;
  list-style: none;
}

.user-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__item {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .user-nav {
    width: 100%;

    &--closed {
      width: 40px;
    }
  }

  .user-nav__list {
    flex-direction: column;
    padding: 0 30px;

    &--closed {
      padding: 0;
    }
  }

  .user-nav__item {
    position: relative;
    margin-right: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: calc(100% - 2px);
      height: 2px;
      background-color: #9b8869;
    }

    &--closed {
      &::before {
        display: none;
      }
    }
  }
}
