@font-face {
  font-family: "Hagin Caps Medium";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:  url("../fonts/hagincapsmedium.woff2") format("woff2"),
    url("../fonts/hagincapsmedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:  url("../fonts/robotoregular.woff2") format("woff2"),
    url("../fonts/robotoregular.woff") format("woff");
}
